object."UIM_GDEpriT861NetworkElement"[ElementType="GDEpriT861"] {
	largeImage: '@|image("com/gdepri/t861/images/default_icon.gif")';
}

object."UIM_GDEpriT861Port"[ElementType="GDEpriPort"] {
 largeImage: '@|image("com/gdepri/t861/images/port32x32.gif")';
}

object."UIM_GenericLogicalDevice"[ElementType="GDEpriGenericLogicalDevice"] {
 largeImage: '@|image("com/gdepri/t861/images/ports.gif")';
}

object."UIM_GDEpriT861Vlans"[ElementType="GDEpriVlan"] {
 largeImage: '@|image("com/gdepri/t861/images/vlan.gif")';
}

object."UIM_GenericGrouping"[ElementType="GDEpriEthernetGrouping"] {
 largeImage: '@|image("com/gdepri/t861/images/default_icon.gif")';
}